#Indentation

In [1]:
if 5>3:
  print ("5 is greater that 3")  #This is a comment

5 is greater that 3

Variable Declaration

In [2]:
#variable with a single value
x=5
y=3
if x<y:
  print ("x is greater than y")
else:
  print ("y is greater than x")


#variable with multiple values

a,b = 1,2
print ("The value of a is:",a)
print ("The value of b is:",b)

y is greater than x
The value of a is: 1
The value of b is: 2

#Casting and Type Function

In [3]:
f = int(4)   #integer
g=float(4)   #decimal/functional

print(f)
print(g)

print(type(f))
print(type(g))

4
4.0
<class 'int'>
<class 'float'>

#Double qoute or single qoute

In [10]:
name = "Irish"
name1 = 'Madel'
name2 = 'De Guzman'
print(name)
print(name1)
print(name2)

Irish
Madel
De Guzman

#Case Sensitive

In [11]:
a = 'Ana'
print(a)

Ana